form.row.g-3 {
    
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 25px;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    font-family: cambria;
    font-size: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.title_1{
    text-align:center;
    margin-top: 20px;
    font-family: Georgia;
}

.form-label{
    margin-left: 100px;
    margin-right: 50px;
    
}

.form-control{
    background-color: #dfcbcb;
    border: 1px solid #ced4da;
    border-top-color: rgb(206, 212, 218);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(206, 212, 218);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(206, 212, 218);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(206, 212, 218);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: #2a0482;
    text-align: center;
}

.btn-primary{
    margin-left: 100px;
}

#results{
    text-align: center;
    color: #85942b;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}